@using TuDa.CIMS.Shared.Entities
@*@ref="_dataGrid"*@ @*ServerData="ServerReload"*@
<MudDataGrid T="WorkingGroup" Items="@WorkingGroups" QuickFilter="@QuickFilter" Filterable="false">
    <ToolBarContent>
        @*ValueChanged="@(s => OnSearch(s))"*@
        <MudTextField
            T="string"
            @bind-Value="_searchString"
            Placeholder="Suche"
            Adornment="@Adornment.Start"
            Immediate="true"
            AdornmentIcon="@Icons.Material.Filled.Search"
            Clearable="true"
            IconSize="@Size.Medium"
            Class="mt-0"/>
        @*OnClick="CreateGroupSelected"*@
        <MudIconButton Icon="@Icons.Material.Filled.PersonAddAlt1" Color="Color.Primary" Size="Size.Large"
                       OnClick="@(() => OpenDialogAsync(new DialogOptions() { CloseButton = true }))">
        </MudIconButton>
        <MudIconButton Icon="@Icons.Material.Filled.CreditCard" Color="Color.Primary" Disabled="true"
                       Size="Size.Large">
        </MudIconButton>
    </ToolBarContent>

    <Columns>
        <TemplateColumn Title="Titel">
            <CellTemplate>
                <MudText>Prof.</MudText>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="@(x => x.Professor.Name)"/>
        <PropertyColumn Property="@(x => x.PhoneNumber)" Title="Telefon Nr."/>
        <TemplateColumn Title="">
            <CellTemplate>
                <a href="/workingGroupInfoPage" target="_self">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Medium"></MudIconButton>
                </a>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
