@page "/7"

<MudContainer Class="rounded-xl bg-white" MaxWidth="MaxWidth.ExtraSmall">
    <div class="d-flex flex-column">
        <MudText Class="d-flex justify-space-between">Name: @ProfessorInfo.Name <MudIconButton
                Icon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="EditProfessor" Disabled="true"></MudIconButton>
        </MudText>
        <MudText Class="d-flex justify-space-between">TelefonNr.: @ProfessorInfo.PhoneNumber <MudIconButton
                Icon="@Icons.Material.Filled.Edit"
                Size="Size.Small"
                OnClick="EditPhoneNumber"
                Disabled="true"></MudIconButton>
        </MudText>
        <MudText Class="d-flex justify-space-between">Stadt: @ProfessorInfo.Address.City <MudIconButton
                Icon="@Icons.Material.Filled.Edit"
                Size="Size.Small"
                OnClick="EditAddressCity"
                Disabled="true"></MudIconButton>
        </MudText>
        <MudText Class="d-flex justify-space-between">
            Straße: @ProfessorInfo.Address.Street @ProfessorInfo.Address.Number <MudIconButton
                Icon="@Icons.Material.Filled.Edit"
                Size="Size.Small"
                OnClick="EditAddressStreetAndNumber"
                Disabled="true"></MudIconButton>
        </MudText>
        <MudText Class="d-flex justify-space-between">PLZ: @ProfessorInfo.Address.ZipCode <MudIconButton
                Icon="@Icons.Material.Filled.Edit"
                Size="Size.Small"
                OnClick="EditAddressZipNumber"
                Disabled="true"></MudIconButton>
        </MudText>
        <MudText Class="d-flex justify-space-between">Email-Adresse: @ProfessorInfo.Email <MudIconButton
                Icon="@Icons.Material.Filled.Edit"
                Size="Size.Small"
                OnClick="EditEmail"
                Disabled="true"></MudIconButton>
        </MudText>
    </div>
</MudContainer>
