@page "/"

@using MudBlazor
@using TuDa.CIMS.Shared.Entities
@*
<MudContainer Class="rounded-xl bg-white">
    <div class="d-flex align-end justify-space-between mud-width-full">
        <MudText><b>Name:</b> @ProfessorInfo.Name</MudText>
        <MudText><b>Mass:</b> @ProfessorInfo.PhoneNumber</MudText>
        <MudText><b>Electrons:</b> @ProfessorInfo.City</MudText>
        <MudText><b>Electrons:</b> @ProfessorInfo.Street</MudText>
        <MudText><b>Electrons:</b> @ProfessorInfo.ZipCode</MudText>
        <MudText><b>Last Update:</b> @ProfessorInfo.Email</MudText>
    </div>
</MudContainer>
*@
