<MudContainer MaxWidth="MaxWidth.Small" Class="bg-white rounded">
    <MudDataGrid Items="@_persons"
                 FixedHeader="@true"
                 SortMode="SortMode.None"
                 Hover="@true">
        <Columns>
            <PropertyColumn
                Property="@(p => p.FirstName)"
                Title="Vorname"/>
            <PropertyColumn
                Property="@(p => p.Name)"
                Title="Nachname"/>
            <PropertyColumn
                Property="@(p => p.PhoneNumber)"
                Title="Telefonnummer"/>
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudIconButton Size="@Size.Small"
                                   Icon="@Icons.Material.Outlined.Delete"
                                   Color="Color.Error"
                                   @onclick="@(() => RemoveBuyer(context.Item!))"/>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
    <div Class="d-flex justify-content-end">
        <MudButton Class="mt-4 mb-4" FullWidth="true" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add"
                   Color="Color.Success" OnClick="@AddBuyerDialog">Hinzufügen
        </MudButton>
    </div>
</MudContainer>


